#hamnav {
  display: none;
}

body {
  padding: 30px;
  font-size: 20px;

}

#language {
  display: none;
}

#cafedeparislogo {
  width: 30%;
  margin-right: auto;

  margin-left: auto;
  display: inline-block;
  position: relative;
  left: 37%;

}

.frontpagesquare {
  width: 28%;
  float: left;
  margin: 0px;
}
.threecolumncontent {
  display: inline-block;
}

.foodmenu {
  float: left;
  padding-right: 20px;
}
td {
  padding-top: 8px;
  padding-right: 10px;
  border-bottom: 1px solid black;
}

#drinkpage, #lunchpage, #breakfastpage, #pastrypage, #contactpage {
  display: inline-block;
  width: 100%;
  padding-top: 30px;
}

#contactform, #videocolumn, #links {
  display: none;
}

#socialmediacolumn {
  background-color: black;
  padding: 20px;
  color:  #F8F6F0;
}
#socialmediacolumn a {
  color:  #F8F6F0;
}

#fblogo, #instalogo, #maplogo, #maillogo, #telelogo {
  margin-right: 20px;
  width: 34px;
}
a {
  text-decoration: none;


}
.footerlogo {
  background-color: black;
  display: inline-block;
  padding: 20px;
}
